
#------------------------------------------------------
# following is for ansible-generated hosts files only
# tested to raspberry pi only
#------------------------------------------------------

127.0.0.1   localhost
::1     localhost ip6-localhost ip6-loopback
ff02::1     ip6-allnodes
ff02::2     ip6-allrouters

127.0.1.1   {{ ansible_hostname }}

#------------------------------------------------------
# these entries should be good everywhere
#     (last updated 2020-05-14)
#------------------------------------------------------

# 'unifi' alias is used by the aclite to find its controller
# 'purpleair-d32a' is used by the purpleair when their cloud is down

#---- opnsense firewall nics ----
# WAN   igb0 00:e0:67:23:26:c8
# LAN   igb1 00:e0:67:23:26:c9
# OPT1  igb2 00:e0:67:23:26:ca
# OPT2  igb3 00:e0:67:23:26:cb

#---------------
# LAN devices
#---------------

192.168.1.1   opnsense gateway router igb1  protectli # 00:e0:67:23:26:c9
192.168.1.9   air-wifi                                # 7c:d1:c3:e9:40:0b
192.168.1.10  air-wired                               # 68:5b:35:b0:26:76
192.168.1.24  pi3-wired pi3                           # b8:27:eb:5c:5e:5f
192.168.1.30  susan-iphone                            # a8:81:7e:12:85:af
192.168.1.32  susan-ipad                              # 10:9f:41:09:98:34
192.168.1.36  philips hue                             # 00:17:88:a0:ba:1e
192.168.1.45  chromecast-lan                          # dc:e5:5b:43:5a:0f
192.168.1.46  vince-ipad                              # 44:c6:5d:5f:c2:53
192.168.1.51  mini mini-wifi                          # 14:98:77:57:57:7c
192.168.1.63  lr-kindle                               # 74:a7:ea:89:4a:7d
192.168.1.66  nodemcu-red                             # 68:c6:3a:9f:bb:78
192.168.1.67  pi4-wired pi4                           # dc:a6:32:12:b1:91
192.168.1.68  pi5-wifi  pi5                           # d8:3a:dd:a7:b0:67
# 192.168.1.68 zerow                                  # b6:27:eb:ab:28:d6
192.168.1.73  susan-paperwhite                        # fc:d7:49:a9:7a:2d
192.168.1.80  vince-paperwhite                        # fc:a1:83:05:1c:b5
192.168.1.92  vince-iphone                            # dc:52:85:dd:17:9e
192.168.1.94  vince-dot                               # cc:9e:a2:79:18:fd
192.168.1.97  picow-red                               # 28:cd:c1:08:8d:24
192.168.1.98  picow-orange                            # 28:cd:c1:08:8d:23
192.168.1.103 pi3jr-wifi  pi3jr                       # b8:27:eb:53:1b:01 # wired b8:27:eb:06:4e:54
192.168.1.104 nodemcu-blue                            # b4:e6:2d:45:33:79
192.168.1.115 printer                                 # b4:b5:2f:0b:e7:c2
192.168.1.116 pi3-wifi                                # b8:27:eb:09:0b:0a # wired b8:27:eb:5c:5e:5f
192.168.1.146 aclite                                  # 80:2a:a8:96:08:b8
192.168.1.164 pi4-wifi                                # dc:a6:32:12:b1:92
192.168.1.171 nuc2                                    # 94:c6:91:a6:ea:51
192.168.1.181 pi3plus-wifi pi3plus                    # b8:27:eb:a7:2c:f3 # wired b8:27:eb:f2:79:a6 
192.168.1.206 zerowh                                  # b8:27:eb:d0:99:81
192.168.1.232 pi4jr-wifi  pi4jr                       # dc:a6:32:41:a9:1a # wired dc:a6:32:41:a9:19
192.168.1.233 switch                                  # 74:83:c2:7c:94:41

#---------------
# IOT devices
#---------------

192.168.2.1   opnsense-vlan2
192.168.2.33  purpleair purpleair-d32a                # 84:f3:eb:37:d3:2a
192.168.2.34  blink blink1                            # 00:03:7f:bf:e5:bb
192.168.2.35  blink2                                  # 00:03:7f:fb:19:30
192.168.2.38  tv                                      # 54:44:a3:78:25:b8
192.168.2.58  chromecast-iot                          # dc:e5:5b:43:5a:0f
192.168.2.60  airlink airlink-10140E                  # 00:1d:0a:10:14:0e
192.168.2.87  ecowitt gw1200                          # 24:58:7c:ac:53:98
192.168.2.101 dot                                     # cc:9e:a2:79:18:fd
192.168.2.104 door-live F4B85E998F83-mysimplelink     # f4:b8:5e:99:8f:83
192.168.2.105 birds-live F4B85E60694B-mysimplelink
192.168.2.107 rokuexpress                             # 10:59:32:af:ff:01
192.168.2.108 rokupremiere                            # d8:31:34:cf:80:54

#---------------
# gone devices
#---------------

# 192.168.1.20  usg
# 192.168.1.123 nuc                  a0:a8:cd:0f:46:d7
# 192.168.1.128 debian
# 192.168.1.196 r                   a0:a8:cd:0f:46:d7
# 192.168.2.84  ws3800  # ecowitt console
# 192.168.2.103 gw1000  # old ecowitt gateway

#---------------
# unknown
#---------------

# 192.168.1.53  ???                                  # 16:2a:67:67:ee:db # unknown
# 192.168.1.60  ???                                  # f2:a8:fc:a2:4d:a1 # unknown
# 192.168.1.64  ???                                  # b2:1e:48:43:7a:7d # unknown
# 192.168.1.75  ???                                  # ce:18:69:10:99:46 # unknown
# 192.168.1.78  ???                                  # 96:18:43:cb:91:d7 # unknown
# 192.168.1.90  ???                                  # ee:f1:8a:df:c8:8f # unknown
# 192.168.1.91  ???                                  # 7e:62:80:72:53:77 # unknown
