
#------------------------------------------------------
# following is for ansible-generated hosts files only
# tested to raspberry pi only
#------------------------------------------------------

127.0.0.1   localhost
::1     localhost ip6-localhost ip6-loopback
ff02::1     ip6-allnodes
ff02::2     ip6-allrouters

127.0.1.1   {{ ansible_hostname }}

#------------------------------------------------------
# these entries should be good everywhere
#     (last updated 2020-05-14)
#------------------------------------------------------

# 'unifi' alias is used by the aclite to find its controller
# 'purpleair-d32a' is used by the purpleair when their cloud is down

#---- opnsense firewall nics ----
# WAN   igb0 00:e0:67:23:26:c8
# LAN   igb1 00:e0:67:23:26:c9
# OPT1  igb2 00:e0:67:23:26:ca
# OPT2  igb3 00:e0:67:23:26:cb

192.168.1.1   opnsense gateway router igb1  # 00:e0:67:23:26:c9
192.168.1.9   air-wifi air                  # 7c:d1:c3:e9:40:0b
192.168.1.10  air-wired                     # 68:5b:35:b0:26:76
192.168.1.24  pi3 unifi                     # b8:27:eb:5c:5e:5f
192.168.1.100 purpleair-d32a purpleair      # 84:f3:eb:37:d3:2a
192.168.1.103 pi3jr                         # b8:27:eb:53:1b:01
192.168.1.104 esp-blue                      # b4:e6:2d:45:33:79
192.168.1.110 RokuPremiere                  # d8:31:34:cf:80:54
192.168.1.116 pi3-wifi                      # b8:27:eb:09:0b:0a
192.168.1.117 printer HP8100                # b4:b5:2f:16:eb:b6
192.168.1.118 pi                            # 80:1f:02:7c:76:ca
192.168.1.119 blink1                        # 00:03:7f:bf:e5:bb
192.168.1.123 nuc                           # a0:a8:cd:0f:46:d7
192.168.1.124 Galaxy-Tab-S2                 # 34:14:5f:6d:19:05
192.168.1.128 debian                        # 00:10:75:1a:5a:e2
192.168.1.129 ecowitt ESP_C67304            # 8c:aa:b5:c6:73:04
192.168.1.131 susan-ipad-24hgz              # c6:2d:0f:e0:a0:4b
192.168.1.144 susan-fwsd CERT-482585-T      # 14:4f:8a:1d:1b:cc
192.168.1.146 aclite AcLiteAccessPoint      # 80:2a:a8:96:08:b8
192.168.1.153 F4B85E60694B-mysimplelink     # f4:b8:5e:60:69:4b
192.168.1.162 tv RokuTV                     # 30:52:cb:f0:f8:fc
192.168.1.163 amcrest camera IPC            # 9c:8e:cd:2f:5b:89
192.168.1.164 pi4                           # dc:a6:32:12:b1:92
192.168.1.171 nuc2 nuc2-wired               # 94:c6:91:a6:ea:51
192.168.1.181 pi3plus                       # b8:27:eb:a7:2c:f3
192.168.1.183 vincedot amazon-5ffccde91     # cc:9e:a2:79:18:fd
192.168.1.196 r                             # 80:1f:02:d3:77:20
192.168.1.200 vincekindle                   # fc:a1:83:05:1c:b5
192.168.1.201 susans-iphone                 # 56:11:d5:ae:82:9a
192.168.1.206 zerow2                        # b8:27:eb:d0:99:81
192.168.1.218 kindle-black                  # 7c:d5:66:55:8a:d8
192.168.1.220 blink2                        # 00:03:7f:fb:19:30
192.168.1.230 vincephone Pixel-3a           # 58:cb:52:7b:80:8e
192.168.1.232 pi4jr                         # dc:a6:32:41:a9:1a
192.168.1.233 Switch                        # 74:83:c2:7c:94:41
192.168.1.240 susan-ipad-5ghz               # da:4c:f7:7c:f6:4e
192.168.1.243 vince-ipad                    # 9e:ac:82:53:94:33
192.168.1.244 oldkindle                     # f0:a2:25:1d:0e:0d

#--- that's all folks ---

